<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logRoot" value="/opt/logs" />

    <!-- definition of appender STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %highlight(%-5level) %cyan(%logger{35}) - %msg %n</pattern>
        </encoder>
    </appender>

    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/default-all.log</file>

        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] %logger{36}%n- [%X{traceId}] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logRoot}/default-all.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>